html
head {
    background-color: rgb(190, 246, 253);
    font-family: 'Times New Roman', Times, serif;
}


section{
    background-color: rgb(179, 47, 212);
}
footer{
    background-color:rgb(12, 235, 131);
}

